/*main font: "Roboto" 400,500,700,900
  secont font: "Raleway" 700
*/

:root {
  --main-interactiv-color: #2196f3;
  --main-text-color: #757575;
  --main-title-color: #212121;
  --main-font: "Roboto", sans-serif;
  --backgrount-footer: #2f303a;
  --background-light-text: #ffffff;
  --background-link-text: rgba(255, 255, 255, 0.6);
  --background-main: #e5e5e5;
  --background-second: #f5f4fa;
  --icon-color: #afb1b8;
  --social-icon-color: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-title-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

/*страница index.html*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

/*убираем точки у всех списков*/
.main-menu,
.header-address,
.features-list,
.what-we-do,
.team-list,
.list-button,
.list-images,
.permanent-list,
.features-icon-list,
.social-list,
.footer-list,
.social-list-team {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link:hover,
.menu-link:focus,
.address-link:focus,
.address-link:hover,
.address-link:focus .header-icon-mail,
.address-link:hover .header-icon-mail,
.address-link:focus .header-icon-smartphone,
.address-link:hover .header-icon-smartphone {
  color: var(--main-interactiv-color);
  fill: var(--main-interactiv-color);
}

.header-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.menu-link,
.address-link {
  text-decoration: none;
}

.menu-link {
  color: var(--main-title-color);
}

.address-item {
  display: flex;
}

.address-link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  height: 16px;
}

.logo-header {
  color: #000000;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 93px;
}

.logo-web {
  color: var(--main-interactiv-color);
}

.main-menu {
  display: inline-flex;
  justify-content: space-between;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-left: 0px;
}

.menu-item:not(:last-child),
.address-item:not(:last-child) {
  margin-right: 50px;
}

.header-address {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-section {
  background-color: var(--backgrount-footer);
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(.././img/hero.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  background-position: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-light-text);

  margin-bottom: 30px;
}

.main-button {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--background-light-text);
  background-color: var(--main-interactiv-color);

  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.phantom-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features-list,
.features-icon-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.features-icon-item {
  background-color: var(--background-second);
  background-size: 70px 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  color: var(--main-text-color);
}

.what-we-do-section {
  padding-bottom: 94px;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  padding-left: 0;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.what-we-do-item:not(:last-child) {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
}

.team-section {
  background-color: var(--background-second);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -30px;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
}

.team-item:not(:last-child) {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
}

.team-item {
  background-color: var(--background-light-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-people {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;

  margin-bottom: 16px;
}

.team-title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.social-list-team {
  display: flex;
  justify-content: center;
}

.social-icon-team {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}

.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-link-icon:hover,
.team-link-icon:focus,
.team-link-icon:hover .social-icon-team,
.team-link-icon:focus .social-icon-team {
  background-color: var(--main-interactiv-color);
  fill: var(--background-light-text);
}

.permanent-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.permanent-list {
  display: flex;
}

.permanent-item {
  margin-right: 0;
}

.permanent-item:not(:last-child) {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-right: 30px;
}

.permanent-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  border: var(--icon-color) solid 1px;
  border-radius: 4px;
}

.permanent-icon {
  fill: var(--icon-color);
}

.permanent-link:hover .permanent-icon,
.permanent-link:focus .permanent-icon {
  fill: var(--main-interactiv-color);
}

.permanent-link:focus,
.permanent-link:hover {
  border: var(--main-interactiv-color) solid 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* footer zone */

.footer {
  background-color: var(--backgrount-footer);
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo-footer {
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-address {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--background-light-text);
  line-height: 1.71;
  margin-top: 20px;
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-link-text);
  text-decoration: none;

  display: block;
  margin-top: 9px;
}

.social-list {
  display: flex;
}

.social-item {
  width: 44px;
  height: 44px;
  background-color: var(--social-icon-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-item:focus,
.social-item:hover {
  background-color: var(--main-interactiv-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--background-light-text);
}

.social-item + .social-item {
  margin-left: 10px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-connect {
  font-weight: 700;
  font-size: 14px;
  color: var(--background-light-text);
  margin-bottom: 20px;
}

/*страница portfolio.html*/

.main-portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-title-color);
}

.filter-button:focus,
.filter-button:hover {
  color: var(--main-interactiv-color);
}

.title-image {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-button:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  color: var(--main-title-color);
  background-color: var(--background-second);
  border: 0;
  border-radius: 4px;
}

.filter-button:focus,
.filter-button:hover {
  color: var(--background-light-text);
  background-color: var(--main-interactiv-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-image {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.title-picture {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.list-images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-right: -30px;
}

.item-images:nth-child(3n + 3) {
  margin-right: 0;
}

.item-images {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.item-images:focus,
.item-images:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-items {
  display: block;
}
